doctype html
html
    head
        title 404 Not found
        meta(charset="utf-8")
        link(href="/css/main.css", rel="stylesheet")
    body
        h1 404 Not found
        script(src="/js/jquery.min.js")
        script(src="/js/socket.io.js")
        script(src="/js/app.js")